* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Milker";
    src: url(assets/Milker.otf) format("opentype");
}

.main {
    display: flex;
}

.coverimg {
    width: 40vw;
    height: 100vh;
}

.center {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 40vw;
    height: 15vh;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoimg {
    height: 10vh;
    width: 5vw;
    margin-right: 5px;
}

.name {
    font-family: "Milker", sans-serif;
    color: white;
    letter-spacing: 3px;
}


